@import "tailwindcss";

:root {
  --background: oklch(0.985 0.002 247.839);
  --foreground: oklch(0.278 0.033 256.848);

  --primary: oklch(0.705 0.213 47.604);
  --primary-foreground: oklch(0.985 0.002 247.839);

  --secondary: oklch(0.278 0.033 256.848);
  --secondary-foreground: oklch(0.985 0.002 247.839);

  --muted: oklch(0.985 0.002 247.839);
  --muted-foreground: oklch(0.446 0.03 256.802);

  --accent: oklch(0.985 0.002 247.839);
  --accent-foreground: oklch(0.278 0.033 256.848);

  --border: oklch(0.928 0.006 264.531);
  --ring: oklch(0.901 0.076 70.697);

  --radius: 1.25rem;
  --radius-sm: calc(var(--radius) - 0.25rem);
  --radius-md: var(--radius);
  --radius-lg: calc(var(--radius) + 0.25rem);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-border: var(--border);
  --color-ring: var(--ring);

  --radius-sm: var(--radius-sm);
  --radius-md: var(--radius-md);
  --radius-lg: var(--radius-lg);

  --font-sans:
    "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@utility container {
  @apply mx-auto max-w-7xl px-4 md:px-6 lg:px-8;
}

@layer base {
  .root {
    @apply isolate;
  }

  body {
    @apply relative bg-background text-foreground selection:bg-primary selection:text-primary-foreground;
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    @apply cursor-pointer;
  }

  .lucide {
    @apply size-4;
  }
}
