@import "tailwindcss";

:root {
  --background: oklch(0.9856 0.0084 56.3169);
  --foreground: oklch(0.3325 0.0194 2.7074);

  --primary: oklch(0.7357 0.1641 34.7091);
  --primary-foreground: oklch(1 0 0);

  --secondary: oklch(0.9596 0.02 28.9029);
  --secondary-foreground: oklch(0.5721 0.1749 33.2608);

  --muted: oklch(0.9656 0.0176 39.4009);
  --muted-foreground: oklch(0.5547 0.0155 60.3783);

  --accent: oklch(0.8287 0.1147 58.0523);
  --accent-foreground: oklch(0.3325 0.0194 2.7074);

  --border: oklch(0.9296 0.037 38.6868);
  --ring: oklch(0.7357 0.1641 34.7091);

  --radius: 1.25rem;
  --radius-sm: calc(var(--radius) - 0.25rem);
  --radius-md: var(--radius);
  --radius-lg: calc(var(--radius) + 0.25rem);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-border: var(--border);
  --color-ring: var(--ring);

  --radius-sm: var(--radius-sm);
  --radius-md: var(--radius-md);
  --radius-lg: var(--radius-lg);

  --font-sans:
    "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@utility container {
  @apply mx-auto max-w-7xl px-4 md:px-6 lg:px-8;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    @apply border-border;
  }

  .root {
    @apply isolate;
  }

  body {
    @apply relative bg-background text-foreground selection:bg-primary selection:text-primary-foreground;
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    @apply cursor-pointer;
  }

  .lucide {
    @apply size-4;
  }
}
